/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

.wrap{position: relative; z-index: 10; background: #fff; width: 100%; height: 100%;}
html{scroll-behavior: smooth; background: #000;}
/* header */
header{width: 70%; height: 5%; border-radius: 50px; border: 1px solid #E6E6E6; display: flex; justify-content: space-between; align-items: center; padding: 11px 35px; position: fixed; top: 5%; left: 50%; transform: translateX(-50%); z-index: 100; background: linear-gradient(rgba(255,255,255,0.3), rgba(238, 238, 238, 0.3));backdrop-filter:blur(10px); transition: all 0.5s;}
header.on{top:-10%; transition: all 0.5s;}
header .headerWrap{width: 100%; display: flex; justify-content: space-between; align-items: center; z-index: 10;}
header .headerWrap h1{font-family: "Convergence", sans-serif; font-weight: 400; font-style: normal;
font-size: 32px;}
header .headerWrap h1 a{display: flex; align-items: center;}
header .headerWrap h1 img{width: 40px; height: 40px;}
header .headerWrap ul{margin-left: 45px; display: flex; width: 50%; font-weight: 500; flex: 1;}
header .headerWrap ul li{margin: 0; width: 12%; text-align: center; font-size: 1.1rem;}
header .headerWrap .menu span{content:''; width: 34px; height: 3px; display: block; background: #000; border-radius: 50px; margin-bottom: 7px; transition: all 0.5s;}
header .headerWrap .menu span:nth-child(3){margin-bottom: 0;}

header .headerWrap ul li:hover{color: #00B2FF; transition: all 0.3s;}

header .headerTab{position: fixed; top: 0; width: 100%; border-radius: 30px 30px 20px 20px; box-sizing: border-box; left: 50%; transform: translateX(-50%); padding: 0 35px; display: none; background: linear-gradient(rgba(255,255,255,0), rgba(238, 238, 238, 0.8));backdrop-filter:blur(10px); transition: all 0.5s; border: 1px solid #E6E6E6; border-top: none; z-index: 5; height: 0; }
header .headerTab .headerTabInner{ display: flex; margin:0 34px 0 172px;}
header .headerTab ul{margin: 85px 0 0; width: 12%;}
header .headerTab ul li{margin-bottom: 20px;  transition: all 0.5s; text-align: center;}
header .headerTab ul li:hover{color: #00B2FF; transition: all 0.5s;}
header.active .headerTab{display: block; height: auto;}
header.active .menu span:nth-child(1){transform: rotate(45deg); margin: 0; transition: all 0.5s; position: absolute;}
header.active .menu span:nth-child(2){display: none;}
header.active .menu span:nth-child(3){transform: rotate(-45deg); margin: 0; transition: all 0.5s;}






/* main */
.main{width: 70%; height: 100vh; align-items: center; text-align: center; background: #fff; margin: 0 auto; padding-top: 259px;} 
.main .mainTitle{position: relative; }
.main .mainTitle p{font-family: "Covered By Your Grace", cursive; font-weight: 400; font-style: normal; color: #00B2FF; font-size: 60px;}
.main .mainTitle h2{font-size: 120px; font-family: 'inter'; line-height: 85%; letter-spacing: -1.5px;}
.main .mainTitle img{position: absolute; top: 68%; left: 50%; transform: translate(-50%,-50%); opacity: 0.3; width: 508px; height: 508px; animation: mainRotate 20s linear infinite;}
.main .showBox{margin: 72px auto 0;}
.main .showBox a{display: inline-block;}
.main .more{display: block; position: relative; z-index: 10; font-family: 'inter',sans-serif; background: #00B2FF; border-radius: 50px; width: 160px;height: 50px; color: #fff; text-align: center; align-content: center;}
.main .designed{font-family: 'Noto sans', sans-serif; font-size: 20px; position: relative; width: 40%; margin: 92px auto 0; display: inline;}
.main .designed::before{content: ''; display: block; width: 25%; height: 1px; position: absolute; top: 50%; left: -25%; background: #000;}
.main .designed::after{content: ''; display: block; width: 25%; height: 1px; position: absolute; top: 50%; right: -25%; background: #000;}

.main .tab{position: fixed; top: 50%; transform: translateY(-50%); left: 7.5%; z-index: 1000;}
.main .tab li{position: relative; width: 20px; height: 20px;margin-bottom: 12px; }
.main .tab li::before{content: ''; display: block; position: absolute; width: 13px; height: 13px; top: 50%; left: 50%; transform: translate(-50%,-50%) rotate(45deg); border: 2px solid #dadada;}
.main .tab li::after{content: ''; display: block; position: absolute; width: 5px; height: 5px; top: 50%; left: 50%; transform: translate(-50%,-50%) rotate(45deg); border: 2px solid #dadada;}
.main .tab li a{position: absolute; width: 24px; height: 24px; top: 50%; left: 50%; transform: translate(-50%,-50%);}

.main .tab li.on{transform: scale(1.2); transition: all 0.5s;}
.main .tab li.on::before{border-color: #00b2ff; transition: all 0.5s;}
.main .tab li.on::after{border-color: #00B2FF; transition: all 0.5s;}

.main .topBtn{font-size: 35px; align-items: center; position: fixed; bottom: 35px; right: 7.5%; border-radius: 50%; border: 1px solid #DEDEDE; width: 70px; height: 70px; display: block; z-index: 1000;}
.main .topBtn a{display: block; align-items: center; width: 70px; height: 70px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-40%); transition: all 0.5s;}
.main .topBtn a.on{color: #fff; transition: all 0.5s;}



@keyframes mainRotate {
  0%   { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* about me */
.aboutMe{width: 100%; margin: 0 auto; position: relative; display: flex; justify-content: center; }
.aboutMe .left{width: 25%; margin-left: 54px; margin-top: 58px;}
.aboutMe .left .title h2{width: 100%;}
.aboutMe ul{width: 46%; display: flex; justify-content: space-between; flex-wrap: wrap;}
.aboutMe ul li{margin-bottom: 80px;}
.aboutMe ul li:nth-child(2){width: 48%;}
.aboutMe ul li:nth-child(3){width: 100%; margin-left: 52%;}
.aboutMe ul li:nth-child(4){width: 48%;}
.aboutMe ul li:nth-child(5){width: 48%;}
.aboutMe ul li img{width: 100%;}
.aboutMe ul li .icon{width: auto;}
.aboutMe ul li .tit{display: flex; align-items: center; font-family: 'Noto sans KR',sans-serif; font-size: 32px; letter-spacing: -2px; font-weight: bold; margin: 16px 0 8px;}
.aboutMe ul li .tit img{margin-right: 8px;}
.aboutMe ul li .txt{font-family: 'Noto sans KR', sans-serif; font-size: 18px; letter-spacing: -2px; font-weight: 300; color: #a9a9a9; width: 90%;}
.aboutMe ul li .txt span{font-weight: bold;}

.aboutMe .title.on{position: sticky; top: 28%; left: 0%;}
#rainCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  pointer-events: none;
  z-index: -1;
}



/* 공통 title */
.title .chap{font-family: 'inter',sans-serif; font-size: 20px; font-weight: 500; letter-spacing: -1px; display: inline-block; background: #f0f0f0; width: 150px; height: 34px; border-radius: 50px; text-align: center; margin-bottom: 24px; align-content: center;}
.title h2{font-family: 'inter',sans-serif; font-size: 70px; width: 70%;}
.title .subTitle{font-size: 22px; letter-spacing: -2px; margin-top: 22px; margin-bottom: 29px; width: 70%;}
.title .more{font-size: 16px; font-weight: 300; font-family: 'inter',sans-serif; letter-spacing: -1px;  display: block; background: #00B2FF; border-radius: 50px; width: 160px;height: 50px; color: #fff; text-align: center; align-content: center;}


/* hobbies */
.hobbies{margin-top: 240px;}
.hobbies .hobbiesWrap {position: relative; width: 100%; height: 100%; overflow: hidden;}
.hobbies .hobbiesWrap video {width: 100%; object-fit: cover;}
.hobbies .hobbiesWrap .blackBG{width: 100%; height: 100%; background: #000; opacity: 0.2;}
.hobbies .hobbiesWrap .title{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; color: #fff;}
.hobbies .hobbiesWrap .title .chap{margin: 0 auto 24px; color: #000;}
.hobbies .hobbiesWrap .title h2{margin: 0 auto 24px;}
.hobbies .hobbiesWrap .title .subTitle{margin: 22px auto 29px; width: 100%;} 

.hobbiesWrap video, .hobbiesWrap .title {transition: opacity 0.5s ease;}
.hobbiesWrap  .fade-out {opacity: 0;}
.hobbiesWrap  .fade-in {opacity: 1;}


.hobbies .hobbiesWrap .title .chap{animation: hobbiesTitle 10s ease-in-out infinite;}
.hobbies .hobbiesWrap .title h2{animation: hobbiesTitle 10.1s ease-in-out infinite;}
.hobbies .hobbiesWrap .title .subTitle{animation: hobbiesTitle 10.2s ease-in-out infinite;}

@keyframes hobbiesTitle {
  0%{transform: translateY(25%); opacity: 0;}
  10%{transform: translateY(0%); opacity: 1;}
}



/* skill */
.skill{width: 80%; margin: 500px auto 0;}
.skill .title{text-align: center; align-content: center;}
.skill .title h2{width: 100%;}
.skill .title .subTitle{width: 100%;}

.skill .skillBottomBox{position: relative;}
.skill .skillBottomBox ul{position: relative; display: flex; align-items: center; justify-content: space-between; width: 100%; margin: 0 auto; flex-wrap: wrap;}
.skill .skillBottomBox ul li{width: 20%; height: 50%; box-sizing: border-box;}
.skill .skillBottomBox ul li img{width: 100%; padding: 15% 28%; box-sizing: border-box;}
.skill .skillBottomBox ul li p{text-align: center; font-size: 24px; font-weight: 500;}

.skill .skillBottomBox .crossBox{display: flex; justify-content: center; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 100%;}
.skill .skillBottomBox .crossBox .imgBox{width: 20%;}
.skill .skillBottomBox .crossBox img{padding: 30%; box-sizing: border-box; width: 100%;}

#skillList li {
  opacity: 1;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#skillList li.fade-out {
  opacity: 0;
  transform: translateY(20px);
}

#skillList li.fade-in {
  opacity: 1;
  transform: translateY(0);
}


/* clonecoding */
.clonecoding{padding-bottom: 250px; width: 100%; z-index: 5; position: relative;}
.clonecoding .clonecodingWrap{width: 100%; padding-top: 500px;}
.clonecoding .title{text-align: center; align-content: center;}
.clonecoding .title h2{width: 100%;}
.clonecoding .title .subTitle{width: 100%;}
.clonecoding .title .more{margin: 0 auto;}

.clonecoding ul{margin-top: 100px; width: 70%; margin: 100px auto 0;}
.clonecoding ul li{display: flex; justify-content: space-between; margin-bottom: 30px; position: relative;}
.clonecoding ul li img{width: 100%; height: 100%; object-fit: cover; transition: all 0.5s;}
.clonecoding ul li:nth-child(4) img{width: 100%;}
.clonecoding ul li a{position: relative; overflow: hidden; border-radius: 20px; transition: all 0.4s;}  
.clonecoding ul li a .titleBox{bottom: -50%; left: 0; width: 100%; position: absolute; background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(238, 238, 238, 0.3)); backdrop-filter: blur(10px); transition: all 0.5s; font-size: 18px; font-weight: 700;}
.clonecoding ul li a .titleBox .titleWrap{display: flex; justify-content: space-between; margin: 20px 25px;}
.clonecoding ul li a:hover .titleBox{bottom: 0; transition: all 0.5s;}
.clonecoding ul li a:hover .titleBox .arrowBox{position: relative;}
.clonecoding ul li a:hover .titleBox .arrowBox:before{content: ''; display: block; position: absolute; border: 1px solid #2e2e2e; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 30px; height: 30px; border-radius: 50%;}
.clonecoding ul li:nth-child(1) a:before:nth-child(1){content: '사람들에게'; color: #000;}

.clonecoding ul li:nth-child(1) a:nth-child(1){width: 38.5%;}
.clonecoding ul li:nth-child(1) a:nth-child(2){width: 58.5%;}
.clonecoding ul li:nth-child(2) a:nth-child(1){width: 58.5%;}
.clonecoding ul li:nth-child(2) a:nth-child(2){width: 38.5%;}
.clonecoding ul li:nth-child(3) a:nth-child(1){width: 38.5%;}
.clonecoding ul li:nth-child(3) a:nth-child(2){width: 58.5%;}
.clonecoding ul li a:hover img{transform: scale(1.1); transition: all 0.5s;} 
.clonecoding ul li a:hover::before{bottom: 0;}


/* teamProject */
.teamProject{position: relative; z-index: 5; border-radius: 0 0 50px 50px; background: #fff; overflow: hidden;}
.teamProject .conList > li{width: 100%;}
.teamProject .conList li .conWrap{width: 100%;}
.teamProject .conList li .conWrap img{width: 100%;}

.teamProject .conList .con01 .conWrap{position: relative; width: 100%; margin: 0 auto; overflow: hidden;}
.teamProject .conList .con01 .conWrap > img{height: 100vh;}
.teamProject .conList .con01 .conWrap .title{position: absolute; top: 50%; left: 15%; transform: translateY(-50%);}
.teamProject .conList .con01 .conWrap .title a{display: inline-block;}
.teamProject .conList .con01 .conWrap .conImgBox{display: flex; justify-content: right; position: absolute; top: -80%; right: 5%; width: 50%; transform: rotate(-32.5deg);}
.teamProject .conList .con01 .conWrap .conImgBox li{width: 30%;}
.conImgBox li:nth-child(2) {
  transform: translateY(200px);
}
.conImgBox li:nth-child(3) {
  transform: translateY(300px);
}

.teamProject .conList .con02{color: #fff;}
.teamProject .conList .con02 .conWrap{position: relative;}
.teamProject .conList .con02 .conWrap > img{height: 100vh;}
.teamProject .conList .con02 .conWrap .conRight{position: absolute; top: 50%; left: 15%; color: #fff;
  transform: translateY(-50%); z-index: 3;}
.teamProject .conList .con02 .conWrap .conRight .conTitle .krTit{font-size: 19px; font-weight: 300;}
.teamProject .conList .con02 .conWrap .conRight .conTitle .enTit{font-size: 84px;
    line-height: 0.9; font-family: "Rozha One", serif;}
.teamProject .conList .con02 .conWrap .conRight .conTitle .enTit2{font-size: 64px; font-weight: 300; font-family: "Montserrat", sans-serif;}
.teamProject .conList .conWrap .conTitle .more{font-size: 16px; font-weight: 300; font-family: 'inter', sans-serif;letter-spacing: -1px; display: block; background: #00EBE1; border-radius: 50px; width: 160px; height: 50px; color: #fff; text-align: center; align-content: center; margin-top: 20px;}
.teamProject .conList .con02 .conWrap .conRight .conDetail{margin-top: 320px; display: flex;}
.teamProject .conList .con02 .conWrap .conRight .conDetail .mainDetail{margin-right: 55px; font-size: 16px; line-height: 2;}
.teamProject .conList .con02 .conWrap .conRight .conDetail .subDetail{font-size: 16px; font-weight: 300; line-height: 2;}
.teamProject .conList .con02ImgBox{position: absolute; top: 50%; transform: translateY(-50%); right: 5%; width: 55%; height: 55%;}
.teamProject .conList .con02ImgBox img{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.teamProject .conList .con02ImgBox img:nth-child(1){z-index: 2; animation: con03ImgBoxAni 2.55s ease-in-out infinite;}
.teamProject .conList .con02ImgBox img:nth-child(2){z-index: 1;}



.teamProject .conList .con03 .conWrap{position: relative; width: 100%; margin: 0 auto; overflow: hidden;}
.teamProject .conList .con03 .conWrap > img{height: 100vh;}
.teamProject .conList .con03 .conWrap .title{position: absolute; top: 50%; left: 25%; transform: translate(-50%, -50%); color: #fff;z-index: 10;}
.teamProject .conList li .conWrap .conTitle a{display: inline-block;}
.teamProject .conList .con03 .conWrap .title h2{width: 100%; font-size: 40px;}
.teamProject .conList .con03 .conWrap .title h2 span{font-size: 150px;}
.teamProject .conList .con03 .conWrap .con03Imgbox{position: absolute; top: 50%; transform: translateY(-50%); right: 5%; width: 55%; height: 55%;}
.teamProject .conList .con03 .conWrap .con03Imgbox img{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.teamProject .conList .con03 .conWrap .con03Imgbox img:nth-child(1){animation: con03ImgBoxAni 2.55s ease-in-out infinite; z-index: 1;}
.teamProject .conList .con03 .conWrap .con03Imgbox img:nth-child(2){animation: con03ImgBoxAni 2.65s ease-in-out infinite; z-index: 2;} 
.teamProject .conList .con03 .conWrap .con03Imgbox img:nth-child(3){animation: con03ImgBoxAni 2.75s ease-in-out infinite; z-index: 3;}

@keyframes con03ImgBoxAni {
  0%{transform: translate(-50%, -50%)}
  50%{transform: translate(-50%, -55%)}
  100%{transform: translate(-50%, -50%)}
}

.teamProject .conList .con04 .conWrap{position: relative;}
.teamProject .conList .con04 .conWrap p{position: absolute; color: #fff; font-size: 80px; font-weight: 600; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 5; white-space: nowrap;}
.teamProject .conList .con04 .conWrap .circlesWrap img{position: absolute; top: 100%; left: 50%;  transform: translate(-50%,-50%); transform-origin: 50% 50%;}
.teamProject .conList .con04 .conWrap .circlesWrap img:nth-child(1){width: 90%; animation: circling1 10s infinite ease-in-out;}
.teamProject .conList .con04 .conWrap .circlesWrap img:nth-child(2){width: 80%;}
.teamProject .conList .con04 .conWrap .circlesWrap img:nth-child(3){width: 45%; animation: circling2 10s infinite ease-in-out;}

@keyframes circling1 {
  0%{transform: translate(-50%, -50%) rotate(0deg);}
  100%{transform: translate(-50%, -50%) rotate(360deg);}
}


@keyframes circling2 {
  0%{transform: translate(-50%, -50%) rotate(0deg);}
  100%{transform: translate(-50%, -50%) rotate(-360deg);}
}


/* footer */
footer{display: block ; color: #fff; position: relative; width: 100%; height: 80vh; z-index: 1;}
footer .footerWrap{display: block; height: 100%; width: 100%; margin: 0 auto; background: #000; position: fixed; top: 0; left: 0; z-index: 1;}
footer .footerWrap .footerInner{width: 70%; margin: 300px auto 0; position: relative;}
footer .footerWrap .footerInner .footerTop{display: flex; justify-content: space-between;}

footer .footerWrap .footerInner .footerTop .contactTitle .contactText{margin-top: 30px;}
footer .footerWrap .footerInner .footerTop .contactTitle .contactIcon{margin-top: 23px;}
footer .footerWrap .footerInner .footerTop .contactTitle .contactIcon img{margin-right: 8px;}

footer .footerWrap .footerInner .footerTop .adress h2{font-size: 25px;}
footer .footerWrap .footerInner .footerTop .adress .txt1{margin-top: 23px; font-size: 20px; font-weight: 500;}
footer .footerWrap .footerInner .footerTop .adress .txt2{margin-top: 10px;}

footer .footerWrap .footerInner .footerTop .massage h2{font-size: 25px;}
footer .footerWrap .footerInner .footerTop .massage .txt1{margin-top: 23px; font-size: 20px;font-weight: 500;}
footer .footerWrap .footerInner .footerTop .massage .txt2{margin-top: 10px;}

footer .footerWrap .footerInner .footerTop .e-mail h2{font-size: 25px;}
footer .footerWrap .footerInner .footerTop .e-mail .txt1{margin-top: 23px; font-size: 20px;font-weight: 500;}
footer .footerWrap .footerInner .footerTop .e-mail .txt2{margin-top: 10px;}



footer .footerWrap .footerInner .footerLine{height: 1px; width: 100%; background: #A0A0A0; margin-top: 136px;}

footer .footerWrap .footerInner .footerBottom{margin-top: 40px; display: flex; color: #A0A0A0; }
footer .footerWrap .footerInner .footerBottom .copyright{flex: 1;}

footer .footerWrap .footerInner .footerContact img{width: 100%;margin-top: 50px;}


/* scrolla */
.aboutMe.motion .title{animation-name: titleUp; animation-duration: 1.2s;}
.aboutMe.motion ul{animation-name: titleUp; animation-duration: 1.2s;}

.skill.motion .title{animation-name: titleUp; animation-duration: 1.2s;}

.clonecodingWrap.motion .title{animation-name: titleUp; animation-duration: 2s;}
.clonecodingWrap.motion ul{animation-name: titleUp; animation-duration: 2.6s;}

.teamProject .conList .con01 .conWrap .title.motion{animation-name: titleUp2; animation-duration: 1.2s;}
.teamProject .conList .con02 .conWrap .conRight .conTitle.motion{animation-name: titleUp; animation-duration: 1.2s;}
.teamProject .conList .con03 .conWrap .title.motion{animation-name: titleUp3; animation-duration: 1.2s;}

footer .footerWrap .conWrap.on h2{animation-name: titleUp; animation-duration: 1.2s;}
footer .footerWrap .conWrap.on span{animation-name: titleUp; animation-duration: 1.4s;}
footer .footerWrap .conWrap.on ul{animation-name: titleUp; animation-duration: 1.6s;}

@keyframes titleUp {
    0%{transform: translateY(100px); opacity: 0.5;}
    20%{transform: translateY(100px); opacity: 0.5;}
    100%{transform: translateY(0px); opacity: 1;}
}

@keyframes titleUp2 {
    0%{transform: translateY(calc(-50% + 100px)); opacity: 0.5;}
    20%{transform: translateY(calc(-50% + 100px)); opacity: 0.5;}
    100%{transform: translateY(-50%); opacity: 1;}
}

@keyframes titleUp3 {
    0%{transform: translate(-50%, calc(-50% + 100px)); opacity: 0.5;}
    20%{transform: translate(-50%, calc(-50% + 100px)); opacity: 0.5;}
    100%{transform: translate(-50%, -50%); opacity: 1;}
}

/* 스플릿팅 */
.mainTitleBox.motion  .mainTitle h2 .char { display: inline-block;
    animation: slide-up 1s cubic-bezier(.10, 0, .10, 1) both;
    animation-delay: calc(30ms * var(--char-index));
}

.mainTitleBox.motion .mainTitle{animation-name: titleUp; animation-duration: 1.2s}
.mainTitleBox.motion .more{animation-name: titleUp; animation-duration: 1.4s}
.mainTitleBox.motion .designed{animation-name: titleUp; animation-duration: 1.6s}

@keyframes slide-up {
0% {transform: translateY(30px); opacity: 0;}
80% {transform: translateY(30px); opacity: 0;}
}


@media screen and (max-width:1300px){

  header .headerWrap h1{font-size: 25px;}
  header .headerWrap h1 img{width: 25px; height: 25px;}

  header .headerWrap ul li{font-size: 0.8rem;}
  header .headerTab ul li{font-size: 12px;}

  .main .mainTitle h2{font-size: 90px;}
  .main .designed {font-size: 9px;}

  .title h2{font-size: 60px;}
  .title .subTitle{font-size: 18px;}

  .aboutMe ul li .tit{font-size: 24px;}
  .aboutMe ul li .txt{font-size: 18px;}
  .skill .skillBottomBox ul li p {font-size: 18px;}

  .teamProjectWrap .title h2{font-size: 40px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .krTit{font-size: 16px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .enTit{font-size: 65px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .enTit2{font-size: 45px;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail{margin-top: 250px;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail .mainDetail{font-size: 14px;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail .subDetail{font-size: 14px;}
  .teamProject .conList .con04 .conWrap p{font-size: 60px;}
  .teamProject .conList .con03 .conWrap .title h2{font-size: 35px;}
  .teamProject .conList .con03 .conWrap .title h2 span{font-size: 120px;}


  footer .footerWrap .footerInner .footerTop .contactTitle h2{font-size: 22px;}
  footer .footerWrap .footerInner .footerTop .adress h2{font-size: 22px;}
  footer .footerWrap .footerInner .footerTop .massage h2{font-size: 22px;}
  footer .footerWrap .footerInner .footerTop .e-mail h2{font-size: 22px;}
  footer .footerWrap .footerInner .footerTop .contactTitle .contactText{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .adress .txt1{font-size: 18px;}
  footer .footerWrap .footerInner .footerTop .massage .txt1{font-size: 18px;}
  footer .footerWrap .footerInner .footerTop .e-mail .txt1{font-size: 18px;}

  footer .footerWrap .footerInner .footerTop .adress .txt2{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .massage .txt2{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .e-mail .txt2{font-size: 14px;}
}

@media screen and (max-width:1100px){
  header .headerWrap ul li{font-size: 0.6em;}
  header .headerTab ul li{font-size: 10px;}
  header .headerTab .headerTabInner{margin: 0 34px 0 140px;}

  .main{padding-top: 230px;} 
  .main .designed{font-size: 7px;}

  .title h2{font-size: 48px;}


  .teamProject .conList .con04 .conWrap p{font-size: 45px;}
}

@media screen and (max-width:768px){
  header .headerWrap h1{font-size: 20px;}
  header .headerWrap h1 img{width: 20px; height: 20px;}
  header .headerTab ul li{font-size: 8px;}    
  header .headerTab .headerTabInner{margin: 0 34px 0 120px;}
  header .headerWrap ul li{font-size: 8px;}

  .main{height: auto; margin-bottom: 300px;}
  .main .mainTitle p{font-size: 45px;}
  .main .mainTitle h2{font-size:65px;}
  .main .showBox{margin: 35px auto 20px;}
  .main .mainTitle img{width: 400px; height: 400px;}

  .title h2{font-size: 35px;}
  .aboutMe ul li .tit{font-size: 16px;}
  .aboutMe ul li .tit img{width: 16px; height: 16px;}
  .aboutMe ul li .txt{font-size: 14px;}
  .title .subTitle{font-size: 14px; margin-top: 5px;}
  .title .more{width: 100px; height: 35px; font-size: 12px;}
  .title .chap {margin-bottom: 12px; width: 120px; font-size: 16px;}

  .skill{margin: 150px auto 0;}
  .skill .skillBottomBox ul li p{font-size: 14px;}

  .clonecoding .clonecodingWrap {padding-top: 200px;}

  .teamProject .conList .con01 .conWrap > img{height: auto;}

  .teamProject .conList .con02 .conWrap > img{height: auto;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail{margin-top: 100px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .krTit {font-size: 12px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .enTit {font-size: 50px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .enTit2 {font-size: 30px;}
  .teamProject .conList .conWrap .conTitle .more{font-size: 14px;width: 130px;height: 35px;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail .mainDetail {margin-right: 40px; font-size: 10px;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail .subDetail{font-size: 10px;}


  .teamProject .conList .con03 .conWrap > img{height: auto;}
  
  .teamProject .conList .con03 .conWrap .title{top: 50%; left: 32%; transform: translate(-50%, -50%);}
  .teamProject .conList .con03 .conWrap > img{aspect-ratio: 16 / 9; object-fit: cover;}
  .teamProject .conList .con03 .conWrap .title h2{font-size: 20px;}
  .teamProject .conList .con03 .conWrap .title h2 span{font-size: 90px;}
  .teamProjectWrap .title h2{font-size: 25px;}

  footer .footerWrap .footerInner .footerTop .contactTitle .contactText {font-size: 12px;}
  footer .footerWrap .footerInner .footerTop .contactTitle h2{font-size: 18px;}
  footer .footerWrap .footerInner .footerTop .adress h2{font-size: 18px;}
  footer .footerWrap .footerInner .footerTop .massage h2{font-size: 18px;}
  footer .footerWrap .footerInner .footerTop .adress .txt1{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .massage .txt1{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .e-mail .txt1{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .adress .txt2{font-size: 10px;}
  footer .footerWrap .footerInner .footerTop .massage .txt2{font-size: 10px;}
  footer .footerWrap .footerInner .footerTop .e-mail .txt2{font-size: 10px;}
}

@media screen and (max-width:500px){
  header{padding: 8px 25px;}
  
  header .headerWrap h1 img {width: 20px; height: 20px;}    
  header .headerWrap h1 {font-size: 20px;}
  header .headerWrap .menu span {width: 25px; height: 2px; margin-bottom: 5px;}
  header .headerWrap ul {display: none;}
  header .headerTab .headerTabInner{margin: 0; display: flex; justify-content: space-between;}
  header .headerTab ul {width: auto;}
  header .headerTab ul:nth-child(2){display: none;}
  
    
  
  .main .tab{left: 4.5%;}
  .main .tab li{margin-bottom: 8px;}
  .main .tab li::before{border: 1px solid #dadada;}
  .main .tab li::after{border: 1px solid #dadada;}
  .main .mainTitle img{width: 270px; height: 270px;}
  .main .mainTitle p {font-size: 22px;}
  .main .mainTitle h2 {font-size: 36px;}
  .main .topBtn {width: 55px; height: 55px;}
  .main .more{font-size: 10px; width: 100px; height: 30px;}
  .main .showBox {margin: 25px auto 20px;}
  .main .designed::before{left: -28%;}
  .main .designed::after{right: -28%;}

  .title h2 {font-size: 16px;}
  .title .chap {margin-bottom: 12px; width: 68px; font-size: 10px; height: 24px;}
  .title .subTitle {font-size: 10px; margin-bottom: 15px;}
  .title .more {width: 58px; height: 19px; font-size: 8px;}

  .aboutMe ul li{margin-bottom: 35px;}
  .aboutMe ul li .txt {font-size: 12px;}
  .aboutMe ul li .tit{font-size: 10px;}
  .aboutMe ul li .tit img {width: 10px; height: 10px;}
  .aboutMe .left {margin: 0px; width: 30%;}

  .skill .skillBottomBox ul li p {font-size: 10px;}

  .clonecoding ul{margin: 50px auto 0;}
  .clonecoding ul li a .titleBox{display: none;}

  .teamProject .conList .con04 .conWrap p {font-size: 20px;}
  .teamProjectWrap .title h2 {font-size: 14px;}
  .teamProjectWrap .title .subTitle {margin-bottom: 5px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .krTit {font-size: 10px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .enTit {font-size: 30px;}
  .teamProject .conList .con02 .conWrap .conRight .conTitle .enTit2 {font-size: 20px;}
  .teamProject .conList .conWrap .conTitle .more {font-size: 8px; width: 60px; height: 16px;    margin-top: 8px;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail .subDetail {font-size: 6px;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail .mainDetail {margin-right: 40px;font-size: 6px;}
  .teamProject .conList .con02 .conWrap .conRight .conDetail {margin-top: 35px;}

  .teamProject .conList .con03 .conWrap .title h2 {font-size: 10px;}
  .teamProject .conList .con03 .conWrap .title h2 span {font-size: 45px;}

  footer .footerWrap .footerInner .footerBottom{margin-top: 20px;}
  footer .footerWrap .footerInner .footerBottom .copyright{font-size: 12px;}
  footer .footerWrap .footerInner .footerBottom .date{font-size: 12px;}

  footer .footerWrap .footerInner{margin: 200px auto 0;}
  footer .footerWrap .footerInner .footerTop .contactTitle .contactText {display: none;}
  footer .footerWrap .footerInner .footerTop .contactTitle h2{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .adress h2{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .massage h2{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .e-mail h2{font-size: 14px;}
  footer .footerWrap .footerInner .footerTop .adress .txt1{font-size: 10px;}
  footer .footerWrap .footerInner .footerTop .massage .txt1{font-size: 10px;}
  footer .footerWrap .footerInner .footerTop .e-mail .txt1{font-size: 10px;}
  footer .footerWrap .footerInner .footerTop .adress .txt2{font-size: 8px;}
  footer .footerWrap .footerInner .footerTop .massage .txt2{font-size: 8px;}
  footer .footerWrap .footerInner .footerTop .e-mail .txt2{font-size: 8px;}
  footer .footerWrap .footerInner .footerTop .contactTitle .contactIcon img{width: 16px; height: 16px;}
}
